<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>eFarmer</title>
    <script src="https://www.momentcrm.com/embed"></script>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
      MomentCRM('init', {
        'teamVanityId': 'efam12345',
        'doChat': true,
        'doTracking': true,
      });
    </script>
</head>
<body style="background-color: aliceblue;">
    
    <nav class="navbar h-nav-resp" >
        <ul class="nav-list v-class-resp">
            <div class="logo"><a href="/logo"><img src="../static/logo.png" alt="logo"></a></div>
            
            <li><a href="/home">Home</a> </li>
            <li><a href="/about" action="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li>
            
        </ul>
        <div class="rightNav v-class-resp" id="google_translate_element">
                 
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>
    <hr>
    
    
    <div class="paras" >
    <h1><center> About Us</center></h1><br><center>
    <p class="text" style="border:oranblackge; border-width:1px; border-style:solid;height: 500px; width: 70%; border-radius: 10px ;"><br>
    The <b>eFarmer</b> is place for modern and traditional agricultural techniques. This website has been started with the purpose of giving a plateform for farmers where they can collect information about agriculture.
    Here we cover information about crops production, and disease detection from crops. We provide local language so frmers can use in their languages. They can upload the images of crops leaf and they will get to know about disease on their crops. eFarmer isbacked by a qualified and competent research team, and IT Professionals.
</p></center>
</div>
<section >
    <div class="navbar">
      <ul class="nav-list ">
        <li><a href="/about">About</a> </li>
        <li><a href="#Services">Services</a> </li>
        <li><a href="/Contact">Contact</a> </li> 
      </ul>

    </div>
</section>
<script src="js/resp.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>