<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="stylesheet" href="../static/responsive.css">
    <title>eFarmer</title>
    <script src="https://www.momentcrm.com/embed"></script>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
      MomentCRM('init', {
        'teamVanityId': 'efam12345',
        'doChat': true,
        'doTracking': true,
      });
    </script>
</head>
<body style="background-color: aliceblue;">
    
    <nav class="navbar background h-nav-resp"  >
        <ul class="nav-list v-class-resp">
            <div class="logo"><a href="/logo"><img src="../static/logo.png" alt="logo"></a></div>
            
            <li><a href="/home">Home</a> </li>
            <li><a href="/about" action="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li>
            
        </ul>
        <div class="rightNav v-class-resp" id="google_translate_element">
                 
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>
    <section>
        <div class="paras">
            <h2> About Maize</h2><br>
            <p> Maize is one of the most important cereal crops of the world and contributes to food security in most of
                the developing countries. In India, maize is emerging as third most important crop after rice and wheat.
                Its importance lies in the fact that it is not only used for human food and animal feed but at the same
                time
                it is also widely used for corn starch industry, corn oil production, baby corns etc.<br>
                Corn production has nearly doubled from around 12.0 million tons in the early 2000s to around 22 million
                tons today. This remarkable production growth has been largely driven by adoption of single cross
                hybrids in the late 1980’s and continuous demand in domestic and export market. The increasing use of
                maize as
                feed,increasing interest of the consumers in nutritionally enriched products and rising demand for maize
                seed
                are the core driving forces behind emerging importance of maize crop in India.</p>

            <h2>Indian Maize Growing Zones</h2><br>
            <p>In India ,Major maize-producing states which contribute more than 80% of the total maize production.</p>
            <table border="2px">
                <th>State</th>
                <th>percentage</th>

                <tr>
                    <td>Andhra Pradesh</td>
                    <td>20.9 %</td>
                </tr>
                <tr>
                    <td>Karnataka </td>
                    <td> 16.5 % </td>
                </tr>
                <tr>
                    <td>Rajasthan</td>
                    <td>9.9 %</td>
                </tr>
                <tr>
                    <td> Maharashtra</td>
                    <td> 9.1 %</td>
                </tr>
                <tr>
                    <td>Bihar</td>
                    <td>8.9 %</td>
                </tr>
                <tr>
                    <td>Uttar Pradesh</td>
                    <td>6.1 %</td>
                </tr>
                <tr>
                    <td>Madhya Pradesh</td>
                    <td>5.7 %</td>
                </tr>
                <tr>
                    <td>Himachal Pradesh</td>
                    <td>4.4 %</td>
                </tr>
            </table>
            <br><br>
            <h2>Climate requirement And Soil</h2>
            <p>Maize requires fertile, deep and well drained soils. However, it can be grown on any type of soil,
                ranging from deep heavy clays to light sandy ones. It is, however, necessary that the pH of the soil
                does not deviate from the range 7.5 to 8.5 Maize plants, particularly in the seedling stage, are highly
                susceptible to salinity and water . Accordingly the provision of proper drainage is essential for the
                successful cultivation of this crop. The slight sandy soils greatly facilitated drainage, but have a
                relatively poor water holding capacity; on the contrary, very heavy soils, with excellent water holding
                capacity, have relatively poor drainage. Hence, soils ideally suited for maize cultivation should have
                adequate water holding capacity and should also provide for good drainage. Over 85 per cent of the maize
                acreage is own under rain fed conditions during the monsoon when over 80 per cent of the annual rainfall
                is received.
            </p>
            <p>Maize is essentially a warm weather crop. It is grown under extremely divergent climatic conditions in
                different parts of the world, ranging from tropical to temperate regions. It is widely cultivated from
                the sea level upto altitudes of 2,500 m. It can be successfully grown where the night temperature does
                not go below 15.60C (600F). It cannot withstand frost any stage of its growth. In India, its cultivation
                extends from the hot arid Plains of Rajasthan and Gujarat to the wet hills of Assam and Bengal
                (receiving over 400 cm of rainfall).
            </p>
            <h2>Fertilizer management </h2>
            <p>Chemical fertilizer is a material that is applied to the soil to
                provide one or more essential elements for plant growth and
                productivity. Nitrogen, potassium, and phosphorus are the
                three major elements and magnesium, calcium, sulfur, and
                other elements such as boron, manganese, iron, zinc, copper,
                and molybdenum are the secondary elements. Fertilizers
                improve soil fertility or substitute the mineral elements
                taken from the soil by harvesting, erosion, grazing, or
                leaching.</p>
            <p>Chemical fertilizers are the most effective way to
                improve soil nutrient depletion, giving high N and P contents that are readily available to the crop,
                and thus improving livelihoods of the farmers</p>

            <h2>Nutrient management</h2>
            <p>Integrated nutrient management (INM) is a method that
                helps to sustain agricultural production and protect the
                environment for future generations. It may be defined as the application of soil fertility management
                practices that
                maximize fertilizer and organic resource use efficiency to
                enhance crop production.'is practice includes the
                judicious use of appropriate types of chemical fertilizers and
                organic resources.</p>
            <p>It combines both organic and inorganic nutrient sources to achieve higher crop productivity,
                prevents soil degradation, and improves soil-water infiltration, thus helping to meet future food
                supply. Sustainable food security needs a balance between increasing
                crop productivity and environmental sustainability. Neither
                nutrient deficiency nor surpluses can threaten this balance
            </p>
            <p>the three main components of INM as defined by FAO are as follows:
                <li>Maintaining or improving the productivity of soil
                    through balanced fertilizers, or by combining organic and inorganic fertilizers</li><br>
                <li> Improving stocks of plant nutrients in the soils</li><br>
                <li> Increasing the efficiency of plant nutrients, hence,
                    limiting losses to the environment</li><br>

            </p>
        </div>
    </section>
</body>

</html>    
    <section >
        <div class="navbar">
          <ul class="nav-list ">
            <li><a href="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li> 
          </ul>
  
        </div>
    </section>
    <script src="js/resp.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>