<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="stylesheet" href="../static/responsive.css">
    <title>eFarmer</title>
    <script src="https://www.momentcrm.com/embed"></script>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
      MomentCRM('init', {
        'teamVanityId': 'efam12345',
        'doChat': true,
        'doTracking': true,
      });
    </script>
</head>
<body style="background-color: aliceblue;">
    
    <nav class="navbar background h-nav-resp"  >
        <ul class="nav-list v-class-resp">
            <div class="logo"><a href="/logo"><img src="../static/logo.png" alt="logo"></a></div>
            
            <li><a href="/home">Home</a> </li>
            <li><a href="/about" action="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li>
            
        </ul>
        <div class="rightNav v-class-resp" id="google_translate_element">
                 
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>

    <section>
        <div class="paras">
            <h2> About Peach</h2><br>
            <p> The peach is a deciduous tree native to the region of Northwest China between the Tarim Basin and the
                north slopes of the Kunlun Mountains, where it was first domesticated and cultivated. It bears edible
                juicy fruits with various characteristics, most called peaches and others, nectarines.<br>
                The peach is a type of fruit which is botanically called drupe. Great size, rounded fruit, with a velvet
                thin and easy to peel skin. Its flesh is between a yellowish and whitish colour, sweet, juicy, giving
                off a pleasant aroma. Depending on the variety, the stones are broken.</p>
            <p>The peach is a versatile fruit that can be used to garnish meats, stewed fruit, jams, etc. According to
                the type of fruit there exist two groups: those with soft flesh, freestoned, destined for consumption in
                fresh, and those with firm flesh, strongly adhered to the stone and destined both for consumption in
                fresh and for the industry, preferably for tinned fruit.</p><br>
            <p>A very important peach variation is the nectarine, deeply spoken about in another chapter, although we
                can advance that it is a hairless peach, obtained by genetic mutation from the down’s gene to the gene
                of smooth skin. Besides, they are lively coloured (between bright red and yellow) and are usually small.
                Contrary to what people think, nectarines are not crossings between a peach and a plum. It is an
                spontaneous variety of peach; peaches and nectarines are genetically equivalent.
            </p><br>
            <h2>Indian Peach Growing Zones</h2><br>
            <p>The peach and nectarine varieties growing in India are as follows:</p>
            <table border="2px">
                <th>State</th>
                <th>Major peach growing districts</th>

                <tr>
                    <td>Jammu and Kashmir</td>
                    <td>Prabhat</td>
                </tr>
                <tr>
                    <td>Uttar Pradesh</td>
                    <td>Rehaven, sunhaven, quetta, july, peshwari </td>
                </tr>
                <tr>
                    <td>Himachal Pradesh</td>
                    <td>Alton, world’s earliest, early white giant, redhaven, stark, red gold, early candor</td>
                </tr>
                <tr>
                    <td> Low hills and plains</td>
                    <td> Flordasun, shan-e-punjab, early amber, prabhat, flordaking, sharbati</td>
                </tr>
                <tr>
                    <td> Punjab</td>
                    <td>pratap, flordasun, shan-e-punjab, khurmani, sharbati, red sun, red</td>
                </tr>
            </table>
            <br><br>
            <h2>Climate requirement</h2>
            <p>Peach is one of the fruit varieties that are suitable for various climate conditions. It is cultivated in
                the South and North side of The Equator between the 24 and 25 latitudes. In Turkey, it is cultivated in
                Mediterranean and Aegean, which are hot climate regions, Marmara that is a moderate temperature region
                and Eastern Anatolia, which is a cold climate region. Low winter temperature, chilling requirement of
                the variety, spring frosts and low summer temperature are among the most important factors in peach
                cultivation. In the areas that temperature decreases to -18, -20 ºC in winter, buds and stools get
                frozen. When the temperature decreases to -25ºC, trees also get frozen. Chilling requirements of the
                varieties change from 250 to 1250 hours. If varieties cannot get their chilling requirements fulfilled,
                flower shakes off the buds, blossoming got delayed in spring and it becomes irregular. Peach is one of
                the early blossoming varieties. They get harmed from spring late frosts, which occur after blossoming.
                In the regions with low summer temperature, fruit ripens late and as a result fruit quality decreases.
            </p>
            <p>Peak peach season is from early April to late June, and a few exceptional varieties grow a few weeks
                before and after these months.
            </p>
            <h2>Soil</h2>
            <p>Peach is not very fastidious to its soil requirements. Peach orchards are performing well from Abohar to
                Amritsar. The soils vary from sandy loam to clay loam, with good drainage. High pH (Kalar lands) is not
                suited to peach growth. It can grow well in soils with an electrical conductivity below 0.5 mm hos/cm,
                calcium carbonate less than 5 percent and lime less than 10%. Waterlogged soils are not good for peach
                cultivation.</p><br>
            <p>When it comes to the soil requirements of peaches, the rootstock it grafted on should be taken into
                account. Peaches like strained, sandy, loamy, gritty, deep and quick-warming alluvial soils. PH scale of
                the soil should be between 6 and 7. In the sandy soils peach can be cultivated with sufficient watering
                and good fertilization. Since trees that are growing in heavy, humid and cold clayed soil will have
                stools not ripened well; they get harmed by the winter colds and begin to get degummed.</p>
            <h2>Fertilizer management </h2>
            <p>Fertility requirements should be determined by visual analysis, soil analysis, and foliar analysis. Trees
                putting on 12 to 18 inches of terminal growth per year usually require less fertilizer in heavier soils.
                Foliar samples for analysis should be collected from mid-July through mid-August. Instructions on
                sampling can be obtained from your county Extension Center. A small fee is charged for each sample
                submitted for analysis.</p>
            <p>Sufficiency levels for essential elements</p>
            <table border="2px">
                <th>Element</th>
                <th>Sufficiency Ranges</th>
                <tr>
                    <td>N (%)</td>
                    <td>2.75-3.50</td>
                </tr>
                <tr>
                    <td>P (%)</td>
                    <td>0.12-0.50</td>
                </tr>
                <tr>
                    <td>K (%)</td>
                    <td>1.50-2.50</td>
                </tr>
                <tr>
                    <td>Ca (%)</td>
                    <td>1.25-2.50</td>
                </tr>
                <tr>
                    <td>Mg (%)</td>
                    <td>0.20-0.50</td>
                </tr>
                <tr>
                    <td>Mn (ppm)</td>
                    <td>20-150</td>
                </tr>
                <tr>
                    <td>Fe (ppm)</td>
                    <td>60-400</td>
                </tr>
                <tr>
                    <td>Al (ppm)</td>
                    <td>
                        <400< /td>
                </tr>
                <tr>
                    <td>B (ppm)</td>
                    <td>20-100</td>
                </tr>
                <tr>
                    <td>Cu (ppm)</td>
                    <td>5-20</td>
                </tr>
                <tr>
                    <td>Zn (ppm)</td>
                    <td>15-50</td>
                </tr>
            </table>

            <h2>Nutrient management</h2>
            <p>Nutrient management is the science and practice directed to link soil, crop, weather, and hydrologic
                factors with cultural, irrigation, and soil and water conservation practices to achieve optimal nutrient
                use efficiency, crop yields, crop quality, and economic returns, while reducing off-site transport of
                nutrients</p>
            <p>Mature peach trees mostly require nitrogen (N) and potassium (K), the two nutrients found at higher
                concentrations in fruits. Phosphorus encourages root development and is essential for young trees. Use a
                complete fertilizer, such as 16-4-8, 12-6-6, 12-4-8, or 10-10-10, during the tree's first three years.
            </p>

        </div>
    </section>
    
    <section >
        <div class="navbar">
          <ul class="nav-list ">
            <li><a href="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li> 
          </ul>
  
        </div>
    </section>
    <script src="js/resp.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>