<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="stylesheet" href="../static/responsive.css">
    <title>eFarmer</title>
    <script src="https://www.momentcrm.com/embed"></script>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
      MomentCRM('init', {
        'teamVanityId': 'efam12345',
        'doChat': true,
        'doTracking': true,
      });
    </script>
</head>
<body style="background-color: aliceblue;">
    
    <nav class="navbar background h-nav-resp"  >
        <ul class="nav-list v-class-resp">
            <div class="logo"><a href="/logo"><img src="../static/logo.png" alt="logo"></a></div>
            
            <li><a href="/home">Home</a> </li>
            <li><a href="/about" action="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li>
            
        </ul>
        <div class="rightNav v-class-resp" id="google_translate_element">
                 
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>

    <section>
        <div class="paras">
       <h2> About Potato</h2><br>
      <p>Potato is very intensive crop and requires nutrients at very high rate due higher
        dry matter production per unit area and time as compared to other field crops. Since
        most of our soils are poor in available nutrients and the crop has shallow and sparse
        root system, nutrient demand is generally not met by soil. That is why, the crop
        responses well to external source of nutrients. The use of blanket fertilizer
        recommendation may result in under utilization and also into considerable losses of
        nutrients resulting into pollution to the environment. Therefore, appropriate nutrient
        management is required to ensure high fertilizer use efficiency so that the amount of
        unutilized fertilizers is reduced to environmentally acceptable levels. Most of potato
        growing area lies in the Indo-Gangetic plains and plateau region where soils are mostly
        low in organic carbon and available nitrogen, low to medium in P and medium to high in
        K. Secondary and micronutrients are also reported to be deficient from many intensively
        cropped areas. </p>
       <br>
       <p>The management practice must improve the yield of
        processing grade tubers without deteriorating its quality. In ware crop at yield level of
        350 q/ha and considering harvest index of 85% and dry matter 18% the total dry matter
        production is about 74 q/ha, whereas, in processing potatoes at the same yield level
        and HI due to higher dry matter (say 22%) total dry matter production is around 90 q/ha.
        In addition one has to take care that ware or seed crop may be harvested little early
        prematurely considering other factors, the processing potatoes must be harvested at its
        full maturity normally at more than 100 or 110 days. Therefore, the nutrient
        requirements of these cultivars are accordingly more.</p> <br>
       <p>The economic potato response for ware crop in alluvial soils of Indo- Gangetic
        plains in the country has been noticed up to 180 kg N /ha. Some of the varieties like
        Kufri Anand and Kufri Sutlej may respond up to 240 kg N/ha. In recent years with newer
        cultivar the optimum dose of nitrogen was in the range of 190-240 kg/ha at Patna At
        Ranchi response of nitrogen was observed up to 240 kg/ha, whereas, under river bed
        cultivation in Dessa (Gujarat), crop has respond up to 600 kg N/ha. The response to
        each kg of N varied with dose and follows the law of diminishing returns. Experiments
        with processing potatoes has shown that N requirement of these cultivars are about
        150% of those of ware potatoes and for Kufri Chipsona-1 and Kufri Chipsona-2 the
        optimum dose to get high production of processing grade tuber was 270 q/ha in sandy
        loam soils of the west central plain.</p><br>
    
       <h2>Indian Potato Growing Zones</h2><br>
       <p>The entire potato growing areas of the country has been categorized into 7 major zones as follows</p>
       <table border="2px">
           <th>Zones</th>
            <th>States/Regions Covered</th>
          
            <tr><td>North India Hills</td>
            <td>This zone covers hills of Himachal Pradesh, Jammu and Kashmir, Uttar Pradesh, Meghalaya, Arunachal Pradesh, Nagaland, Manipur, Mizoram and Tripura. This zone is further subdivided into two zones.</td>
            </tr>
            <tr>
                <td>North western and Central Himalayas</td>
                <td>this zone covers the hills of Himachal Pradesh, Jammu and Kashmir and Uttar Pradesh.</td>
            </tr>
            <tr>
                <td>North Eastern Hills</td>
                <td>This zone comprises hills of Meghalaya, Manipur, Tripura, Nagaland, Arunachal Pradesh and Mizoram.</td>
            </tr>
            <tr>
                <td>North Indian Plains</td>
                <td>More than 80% of potato is cultivated in this zone. The crop is grown under short day conditions and suffers from mid day water stress. This zone is further divided into three sub-zones.</td>
            </tr>
            <tr>
                <td>North Western Plains</td>
                <td>It covers Punjab, Haryana, Rajasthan and parts of neighboring states.</td>
                
            </tr>
            <tr>
                <td>North central Plains</td>
                <td> It consists of western Uttar Pradesh and Madhya Pradesh.u</td>
            </tr>
            <tr>
                <td>Sikkim and North Bengal Hills</td>
                <td> The area comprises of Sikkim and Darjeeling Hills of West Bengal. Wart caused by Synchytrium endobioticum is a special problem in this area.</td>
            </tr>
       </table>
       <br><br>
       <h2>Climate requirement</h2><br>
       <p>Potato is a temperate climate crop, however it grows under a diverse range of climatic conditions. It is grown only under such conditions where the temperature during the growing seasons is moderately cool. The vegetative growth of the plant is best at a temperature of 24°C while tuber development is favoured at 20°C. Hence, potato is grown as a summer crop in the hills and as a winter crop in the tropical and subtropical regions. The crop can be raised up to an altitude of 3000 m above the sea level.
    </p><br>
    
       <h2>Soil</h2><br>
       <p>The potato can be grown almost on any type of soil except saline and alkaline soils. Soils, which are naturally loose, offer least resistance to the enlargement of the tubers is preferred. Loamy and sandy loam soils, rich in organic matter with good drainage and aeration are most suitable for cultivation of potato crop. The soil with pH range of 5.2-6.4 is considered to be ideal.
    </p><br>
       <h2>Land Preparation</h2><br>
       <p>The land is ploughed at a depth of 24-25 cm and exposed to the sun. The soil should have a higher pore space and offer least resistance to tuber development. Well decomposed FYM (25-30 t/ha) is mixed with the soil during last ploughing.

    </p><br>
    <h2>Season of planting
    </h2><br>
    <p>Potatoes can be grown only under such conditions where the temperatures during the growing season are moderately cool. Therefore, the planting time varies from region to region. In hills of Himachal Pradesh and Uttar Pradesh, the spring crop is sown from January-February while the summer crop is sown in the month of May. In plains of Haryana, Punjab, Uttar Pradesh, Bihar and West Bengal spring crop is sown in January while the main crop in the 1st week of October. In the states of Madhya Pradesh, Maharashtra and Karnataka the kharif crop is sown by end of June while rabi crop is sown from mid of October-November.</p><br>
       <h2>Method of Planting
    </h2><br>
       <p>Furrows are opened at a distance of 50-60 cm before planting. The whole or cut tubers are planted 15- 20 cm apart on the centre of the ridge at a depth of 5-7 cm and covered with soil. The seed rate of potato depends upon the season of planting, duration, seed size, spacing etc. The seed rate is 1.5-1.8 t/ha for round varieties and 2.0-2.5 t/ha for oval varieties. A four-row automatic potato planter developed by Central Potato Research Institute (ICAR-CPRI) performs all the operations from ridging to planting and covers an area of 4-5 hectares per day. The tuber damage is as low as 1% while it requires only 2-3 persons for the entire operation.
        <br>
        </p>
        <h2>Manure and fertilizers</h2><br>
        <p>Nutrient requirement of potato crop is quit high and the application of fertilizers and organic manures is considered essential to obtain economic and high yields. In light soils and places where organic manures are not easily available, green manuring is beneficial. The optimum dose of fertilizer application varies greatly depending upon the soil type, soil fertility, climate, crop rotation, variety, length of growing season and moisture supply.</p><br>
        <p>A fertilizer dose of 180-240 kg N, 60-90 kg P2 O5 and 85- 25 130 K2O per hectare is recommended for alluvial soils of Indo Gangetic plains. In the hill zone, the 2 application of 100-150 kg N, 100-150 kg P2 O5 and 50-100 kg K2O per hectare is recommended. In black soils of plateau areas about 120-150 kg N, 50 kg each of P2 O5 & K2O is recommended. In the acidic soils of southern plateau 120kg N, 115 kg P2 O5 , and 120 K2O kg per hectare are recommended for potato production.</p><br>
        <p>Two third of N and entire dose of P and K is given at the time of planting. The balance N is given at the time of earthing up operation. The fertilizers are applied by band placement 5 cm away from the tubers. Ammonium sulphate and ammonium nitrate are usually the best fertilizers for potato followed by calcium ammonium nitrate, ammonium chloride and urea.
        </p><br>
        <h2>Phasic Growth of potato</h2><br>
        <p>Four growth phases have been recognised in potato. These are: establishment
            phase, growth of autotrophic organs, predominantly leaf, overlapping period of leaf
            growth and induction of storage organs, and lastly the period of predominantly storage
            organ growth (Kawakami, 1978). The climatic requirements in the different phases vary
            and depending upon the prevalent conditions, the onset, duration and the growth
            accrued in the different growth phases is determined. The ecophysiological factors
            affecting the growth and development in each of these phases is discussed below. <br>
            <li>Establishment Phase</li><br>
            <li>Autotrophic Organs Growth Phase</li><br>
            <li>Phase of Overlapping Period of Leaf Growth and Induction of Storage Organ</li><br>
            <li>Phase of Tuber Growth </li><br>

        </p>
    
    </div>
    </section>
    
    <section >
        <div class="navbar">
          <ul class="nav-list ">
            <li><a href="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li> 
          </ul>
  
        </div>
    </section>
    <script src="js/resp.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>