<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <link rel="stylesheet" href="../static/responsive.css">
    <title>eFarmer</title>
    <script src="https://www.momentcrm.com/embed"></script>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
      MomentCRM('init', {
        'teamVanityId': 'efam12345',
        'doChat': true,
        'doTracking': true,
      });
    </script>
</head>
<body style="background-color: aliceblue;">
    
    <nav class="navbar background h-nav-resp"  >
        <ul class="nav-list v-class-resp">
            <div class="logo"><a href="/logo"><img src="../static/logo.png" alt="logo"></a></div>
            
            <li><a href="/home">Home</a> </li>
            <li><a href="/about" action="/about">About</a> </li>
            <li><a href="#Services">Services</a> </li>
            <li><a href="/Contact">Contact</a> </li>
            
        </ul>
        <div class="rightNav v-class-resp" id="google_translate_element">
                 
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
    </nav>

    <section>
        <div class="paras">
            <h2> About Tomato</h2><br>
            <p> Tomato plants are tender warm-season crops that love the sun and cannot bear frost. It’s important not
                to put plants in the ground too early. In most regions, the soil is not warm enough to plant tomatoes
                outdoors until late spring and early summer except in zone 10, where they are a fall and winter
                crop.<br>
                Tomatoes take 60 days to more than 100 days to harvest, depending on the variety (see more about
                varieties below). Due to their relatively long growing season requirements (and late planting date),
                most gardeners plant small “starter plants” or transplants instead of seeds after the weather has warmed
                up in spring. Many gardeners purchase their transplants at a garden center or nursery but you can
                certainly grow you own from seed indoors.</p>
            <p>Tomatoes are one of the most versatile varieties of vegetables (or fruits, pick your clan) used almost
                routinely in most cuisines around the world including salads, sandwiches, for juices, sauces, or for
                salsas and ketchup and authentic Indian recipes. The tomatoes you plan to grow at home will largely
                depend on the way you plan to use the harvest.</p><br>
            <p>A few guidelines on buying transplants:A few guidelines on buying transplants:<br>
                <li>Choose young tomato plants from a reputable nursery.</li><br>
                <li>Good starter plants are short and stocky with dark green color and straight, sturdy stems about the
                    size of a pencil or thicker.</li><br>
                <li>They should not have yellowing leaves, spots, or stress damage, nor have flowers or fruits already
                    in progress.</li><br>
            </p><br>
            <h2>Indian Tomato Growing Zones</h2><br>
            <p>Major tomato growing tracts of the country</p>
            <table border="2px">
                <th>State</th>
                <th>Major tomato growing districts</th>

                <tr>
                    <td>Uttar Pradesh</td>
                    <td>Varanasi, Mirzapur</td>
                </tr>
                <tr>
                    <td>Himachal Pradesh</td>
                    <td>Shimla, Kullu, Solan </td>
                </tr>
                <tr>
                    <td>Punjab</td>
                    <td>Amritsar, Ropar, Jalandhar, Hoshiarpur</td>
                </tr>
                <tr>
                    <td>Haryana</td>
                    <td>Rohtak, Sonepat, Jhajjarr, Faridabad, Karnal</td>
                </tr>
                <tr>
                    <td>Rajasthan</td>
                    <td>Jaipur, Dholpur, Alwar, Tonk, Bharatpur</td>
                </tr>
                <tr>
                    <td>Bihar</td>
                    <td>Vaishali, Sitamarhi, Bhagalpur, Patna,
                        Aurangabad, Nalanda, Bhojpur, W&E Champaran</td>
                </tr>
                <tr>
                    <td>Jharkhand</td>
                    <td>Ranchi, Lohardaga , Hazaribagh, Godda</td>
                </tr>
                <tr>
                    <td>Maharashtra</td>
                    <td>Nashik, Ahmednagar, Pune, Nagpur</td>
                </tr>
                <tr>
                    <td>Gujarat</td>
                    <td>Surat, Valsad, Baroda, Ahmednagar,
                        Gandhinagar, Kedha, Jamnagar</td>
                </tr>
                <tr>
                    <td>Madhya Pradesh </td>
                    <td>Satna, Sagar, Jabalpur</td>
                </tr>
                <tr>
                    <td>Chhatisgarh </td>
                    <td>Raipur, Durg, Bastar, Bilaspur, Raigarh, Surguja</td>
                </tr>
                <tr>
                    <td>Orissa</td>
                    <td>Bolangir, Kendrapada, Dhenkanal, Ganjam,
                        Mayurbhanj, Keonjhar</td>
                </tr>
                <tr>
                    <td>Andhra Pradesh</td>
                    <td>Rangareddy, Mehabubnagar, Prakasam,
                        Vishakapattanam, Chittor</td>
                </tr>
                <tr>
                    <td>Karnataka</td>
                    <td>Kolar, Bangalore, Bellary, Dharwad, Belgaum</td>
                </tr>
                <tr>
                    <td>Tamil Nadu</td>
                    <td>Thiruvannamalai, Salem, Dharmapuri,
                        Coimbatore, Erode,, Trichy, Madurai, Dindigul</td>
                </tr>
            </table>
            <br><br>
            <h2>Climate requirement</h2><br>
            <p>Tomato is a warm season crop. The best fruit colour and quality is obtained at a temperature range of
                21-24°C. Temperatures above 32 degree C adversely affects the fruit set and development. The plants
                cannot withstand frost and high humidity. It requires a low to medium rainfall. Bright sunshine at the
                time of fruit set helps to develop dark red coloured fruits. Temperature below 10 oC adversely affects
                plant tissues thereby slowing down physiological activities.
            </p>
            <p>They need full sun, rich soil and warm temperatures. The ideal nighttime temperatures range between 59 to
                68 degrees Fahrenheit with daytime temperatures between 70 and 85 degrees F. When temperatures fall
                above or below these ranges, problems with growth, flowering and fruit production occur.</p>
            <h2>Soil</h2><br>
            <p>It can be grown in varied type of soil ranging from sandy loam to clay, black soil and red soil having
                proper drainage. It gives best result when grown under well drained sandy soil with high organic
                content. For good growth pH of soil should be 7-8.5. It can tolerate moderate acidic and saline soil.
                Avoid cultivation in high acidic soils. For early crops, light soil is beneficial where for heavy yields
                clay loam and silt-loam soils are useful.</p><br>
            <h2>Fertilizer management And Nutrient management</h2><br>
            <p>Fertilizer Requirement (kg/acre)</p>
            <table border="2px">
                <th>UREA</th>
                <th>SSP</th>
                <th>MURIATE OF POTASH</th>
                <tr>
                    <td>130</td>
                    <td>155</td>
                    <td>45</td>
                </tr>
            </table>
            <p>Nutrient Requirement (kg/acre)</p>
       <table border="2px">
        <th>NITROGEN</th>
         <th>PHOSPHORUS</th>
         <th>POTASH</th>
         <tr><td>60</td>
         <td>25</td>
         <td>25</td>
         </tr>
    </table>

            <p>At the time of land preparation, apply well rotten cow dung@10ton/acre and mix well in the soil. Apply fertilizer dose of N:P:K @60:25:25kg/acre in form of Urea@130kg/acre, Single Super Phosphate@155kg/acre and MOP@45kg/acre. Apply half dose of Nitrogen, full dose of Phosphorus and Potash applied as basal dose, apply it before transplanting. 20 to 30days after transplantation apply remaining 1/4th dose of nitrogen. Two month after transplantation, apply remaining dose of Urea.</p><br>
            <p><strong> WSF:</strong>10-15days after transplanting, take spray of 19:19:19 along with micronutrient@2.5 to 3gm/ltr of water. Due to low temperature, plant absorbs fewer nutrients and growth get affected. In such cases foliar spray helps in growth of plants. In vegetative growth stage take spray of 19:19:19 or 12:61:00 @ 4-5 gm/Ltr. For better growth and more yield, spray with 50ml Brassinolide per acre in 150ltr of water at 40-50 days after transplanting for two times at 10days intervals.</p><br>
            <p>Obtain good fruit quality along with good yield, take spray of 12:61:00 (Mono Ammonium Phosphate)@10 gm/Ltr before flowering.  When flowering starts in initial days, take spray of Boron@25gm/10litre of water. It will help to control flower and fruit dropping.  Sometime black spots are observed on fruits, these are due to calcium deficiency. Take spray of calcium nitrate@2gm/ltr of water. In high temperature flower drop is seen, spray with NAA@50 ppm (50ml/10L water) when crop is in flowering stage. Give one spray of sulphate of potash (00:00:50+18S) during fruit development stage@3-5 gm/ltr of water. It will give good fruit development and colour. Fruit cracking reduces fruit quality and lowers prices up to 20%. Take spray of chelated boron (Solubor)@200gm/acre/200Ltr water at fruit ripening stage. To improve plant growth, flowering and fruit set, spray with sea weed extract (Biozyme/Dhanzyme)@3-4 ml/Ltr water twice a month. Maintain good soil moisture.</p>

        </div>
    </section>
    
    <section >
        <div class="navbar">
          <ul class="nav-list ">
              <li><a href="/about">About</a> </li>
              <li><a href="#Services">Services</a> </li>
              <li><a href="/Contact">Contact</a> </li> 
          </ul>
  
        </div>
    </section>
    <script src="js/resp.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>